table, td, th{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-collapse: collapse;
}

/* correction
table{
    border-collapse: collapse;
}
td,th{
    border:2px black solid;
    text-align: center;
}*/